# 默认行为：让 Git 自动判断文件类型并处理换行符
* text=auto

# 明确指定这些文本文件应使用原生换行符（在Windows上是CRLF，在Linux上是LF）
*.txt text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.java text eol=lf
*.go text eol=lf
*.sh text eol=lf
*.config text eol=lf
*.properties text eol=lf
