#定义读取来源参数失败后是否报错退出
#true——表示“|”前的Map对象中来源参数读取失败时要报错退出。
#false——表示“|”前的Map对象中来源参数读取失败时不报错退出，仅给出警告信息。
define.exitOnError="false"
#定义本文件中参数来源的文件列表
#竖杠后面的true，表示后面值部分的文件需要挂载到docker容器中（docker部署方式）或添加到ConfigMap文件中（k8s部署方式）
define.bindingFiles|true="./src/main/resources/config/application.yml"

#以下定义了需要从define.binding.files文件列表中提取的参数路径信息，
#并指定了这些参数的值需要赋值给ci-cd.yaml文件中的哪些参数

#项目网关域名，读取失败后默认设置为空
gateway.domain="globalParams.gatewayHost|\"*\""
#项目网关路由路径，读取失败后默认设置为服务名称
#Key中的第一个竖杠后的true表示读取gateway.url-prefix参数失败是否报错退出，优先级高于define.exitOnError.
gateway.route-prefix="globalParams.gatewayPath|/\${serviceName}"
#项目需要开放的端口，读取失败后设置为8080
#Key中的第一个竖杠后的true表示读取server.port参数失败是否报错退出，优先级高于define.exitOnError.
server.port|true="globalParams.mainPort|8080;globalParams.containerPorts|8080;globalParams.servicePorts|8080"
#项目是否使能K8S探活和就绪探针
#特殊格式：第一个分号前的配置（management.endpoints.web.exposure.include=*;）是前置条件。
# shellcheck disable=SC2034
management.endpoints.web.exposure.include=*;management.endpoints.enabled-by-default="globalParams.livenessProbeEnable|true;globalParams.readinessProbeEnable|true"
