#本文件为本脚本项目使用的全功能配置文件。
#不同语言项目使用这个统一的全功能配置文件。
#不同语言项目可能存在不同的参数默认值，请在对应的语言子目录下的_ci-cd-config.yaml文件中配置。
globalParams:
  #服务所属应用的中文名称。逻辑上，一个应用下可以包含多个业务板块，一个业务板块下可以包含多个服务。
  systemName: JAVA示例程序
  #服务所属应用的英文名称。
  systemNameEn: java-demo
  #服务所属的业务板块名称。逻辑上，一个应用下可以包含多个业务板块，一个业务板块下可以包含多个服务。
  subSystemName: 业务模块1
  #服务所属的业务板块的英文名称。
  subSystemNameEn: "business-module1"

  #默认范围：30000-32767
  nodePorts: 30100

  #K8S集群的ApiServer服务器的地址信息（必须配置）
  #格式：{服务器IP地址}|{SSH端口号}|{SSH连接账号}|{SSH连接密码}
  targetApiServer: 172.25.21.254|22|wuyi|Wpl118124
  #部署的命名空间
  targetNamespace: default
  #K8s集群内部拉取镜像的仓库信息
  targetDockerRepo: nexus,wydevops,192.168.31.218:8001,admin,Wpl118124,8081

chart:
  - name: ${chartName}
    #测试自定义可配置参数。
    params:
      testParam: test
      configurable:
        - name: "Taos集群配置|Taos Cluster Config"
          catalog: "数据源配置|Data Source Config"
          items:
            - name: "登录账号|Login Account"
              key: "TaosdbConfig.username"
              required: true
              type: "input"
              maxLen: 20
              value: "wydevops"
              description: "Taos数据库的登录账号|Login account of Taos database"
            - name: "登录密码|Login Password"
              key: "TaosdbConfig.password"
              required: true
              type: "password"
              maxLen: 20
              value: "123456"
              description: "Taos数据库的登录账号的密码|Password of login account of Taos database"
            - name: "节点配置列表|Node Config List"
              required: false
              type: "group"
              key: "TaosdbConfig.nodes"
              groupIndex: 0
              items:
                - name: "节点配置1|Node Config 1"
                  key: "TaosdbConfig.hosts"
                  required: true
                  type: "group"
                  groupIndex: 0
                  items:
                    - key: "hostName"
                      name: "主机域名(FQDN)|Hostname (FQDN)"
                      required: true
                      type: "input"
                      maxLen: 50
                      value: "http://taosdb1:6043"
                      description: "Taos数据库节点的主机名称|Hostname of Taos database node"
                    - key: "ip"
                      name: "IP地址|IP Address"
                      required: true
                      type: "input"
                      maxLen: 15
                      value: "192.168.100.10"
                      express: "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
                      description: "必须满足IP地址格式|Must be a valid IP address format"
                    - key: "port"
                      name: "端口号|Port Number"
                      required: true
                      type: "inputNumber"
                      value: 6043
                      ranges: "[1025,65535,1]"
                      description: "Taos数据库访问端口号|Port number of Taos database"
                - name: "节点配置2|Node Config 2"
                  key: "TaosdbConfig.hosts"
                  required: true
                  type: "group"
                  groupIndex: 1
                  items:
                    - key: "hostName"
                      name: "主机域名(FQDN)|Hostname (FQDN)"
                      required: true
                      type: "input"
                      maxLen: 50
                      value: "http://taosdb1:6043"
                      description: "Taos数据库节点的主机名称|Hostname of Taos database node"
                    - key: "ip"
                      name: "IP地址|IP Address"
                      required: true
                      type: "input"
                      maxLen: 15
                      value: "192.168.100.11"
                      express: "^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
                      description: "必须满足IP地址格式|Must be a valid IP address format"
                    - key: "port"
                      name: "端口号|Port Number"
                      required: true
                      type: "inputNumber"
                      value: 6043
                      ranges: "[1025,65535,1]"
                      description: "Taos数据库访问端口号|Port number of Taos database"
        - name: "后台管理页面|Admin Page"
          catalog: "高级选项|Advanced Options"
          items:
            - name: "管理端口号|Admin Port Number"
              key: "nodePort"
              required: true
              type: "inputNumber"
              value: 30088
              ranges: "[30000,32767,1]"
              description: "内置的管理页面访问端口号|Port number of built-in admin page"
deploy:
  - name: ${chartName}
    params:
      - name: .Values.params.myName
        value: wydevops
      - name: .Values.params.mysql.host
        value: 192.168.31.218
      - name: .Values.params.mysql.password
        value: 123456
      - name: .Values.params.mysql.port
        value: 3307
      - name: .Values.params.mysql.username
        value: root
