#本文件为本脚本项目使用的全功能配置文件。
#不同语言项目使用这个统一的全功能配置文件。
#不同语言项目可能存在不同的参数默认值，请在对应的语言子目录下的_ci-cd-config.yaml文件中配置。
globalParams:
  #使用istio时Gateway资源绑定的Host名称，*表示任意Host。
  istioGatewayHost: www.axure.com

deploy:
  - name: ${chartName}
    #要部署的离线包名称。
    #发布类型：k8s或docker
    deployType: k8s
    #部署的目标环境。
    activeProfile: dev
    #部署时使用的临时目录名称，
    deployTempDirName: deploy
    #部署完毕后是否删除使用的临时文件
    #为Chart镜像values.yaml配置文件params配置节中的参数提供默认值
    #如果部署时deployType=docker，则wydevops会自动更新docker镜像外挂的配置文件中对应参数的值。
    params:
      - name: .Values.params.myName
        value: wydevops
      - name: .Values.params.mysql.host
        value: 192.168.1.214
      - name: .Values.params.mysql.password
        value: 123456
      - name: .Values.params.mysql.port
        value: 3307
      - name: .Values.params.mysql.username
        value: root
    k8s:
      #开发集群环境
      dev:
        #K8S集群的ApiServer服务器的地址信息（必须配置）
        #格式：{节点IP}|{SSH端口}|{SSH连接账号}|{SSH连接密码}
        #多个集群的ApiServer服务器地址间使用英文逗号隔开。
        apiServer: 172.29.214.110|22|wuyi|Wpl118124
        #发布服务的命名空间（必须配置）
        namespace: default
        #目标集群使用的docker仓库信息。
        #格式：{仓库类型(nexus或harbor)},{仓库实例名称(nexus)或项目名称(harbor)},{仓库访问地址({IP}:{端口})},{登录账号},{登录密码},
        #{Web管理端口(RestfulAPI接口使用的端口)},{镜像名称是否带仓库实例名前缀(仅对nexus类型仓库有效)}
        dockerRepo:
        #部署时指定的网关路由hosts/host参数的值(可不配置),目前只支持设置一个域名
        routeHosts: 
      #测试集群环境
      #test:
      #  ...
    docker:
      #发布模式：docker或docker-compose
      mode: docker
      #指定用于生成docker-run.sh文件的生成器脚本，或者直接是docker run命令字符串。
      #指定用于生成docker-compose.yaml的生成器脚本，或者直接是docker-compose.yaml文件。
      #开发集群环境
      dev:
        #设置是否启用代理模式。
        #如果设置enableProxy=ture,则仅向同架构的第一个节点部署服务，由该节点完成向其他节点的部署服务的任务。
        #如果设置enableProxy=false,则会循环向给定的服务器部署服务。
        enableProxy: false
        #docker部署方式时，需要部署的节点信息列表。
        nodeIPs:
          #格式：{节点IP}|{SSH端口}|{SSH连接账号}|{SSH连接密码}
          #第一个节点必须是能免密直连其他节点。
          - 172.29.214.110|22|wuyi|Wpl118124
