#本文件为本脚本项目使用的全功能配置文件。
#不同语言项目使用这个统一的全功能配置文件。
#不同语言项目可能存在不同的参数默认值，请在对应的语言子目录下的_ci-cd-config.yaml文件中配置。
globalParams:
  #CICD Go流程会自动从Pom.yml文件中读取服务名称信息覆盖serviceName参数。
  serviceName: go-demo

  #是否使能离线构建，为true则会使用offline子目录下的Dockerfile文件。
  enableOfflineBuild: false

  businessImage: ${serviceName}-business
  #CICD Java流程会自动从Pom.yml文件中读取版本信息覆盖businessVersion参数。
  businessVersion: 1.0.0
  baseImage: ${serviceName}-base
  baseVersion: 1.0.0

  #应用设置的路由前缀参数。
  gatewayPath: /go
  #使用istio时Gateway资源绑定的Host名称，*表示任意Host。
  istioGatewayHost: www.axure.com

deploy:
  #列表项的唯一名称
  - name: ${chartName}
    params:
    #发布类型：k8s或docker
    deployType: k8s
    #是否处于k8s服务删除模式，本参数仅当deployType为k8s时有效。
    uninstall: false
    k8s:
      #开发集群环境
      dev:
        #K8S集群的ApiServer服务器的地址信息（必须配置）
        #格式：{节点IP}|{SSH端口}|{SSH连接账号}|{SSH连接密码}
        #多个集群的ApiServer服务器地址间使用英文逗号隔开。
        apiServer: 172.22.118.131|22|wuyi|Wpl118124
        #发布服务的命名空间（必须配置）
        namespace: default
        #目标集群使用的docker仓库信息。
        #格式：{仓库类型(nexus或harbor)},{仓库实例名称(nexus)或项目名称(harbor)},{仓库访问地址({IP}:{端口})},{登录账号},{登录密码},
        #{Web管理端口(RestfulAPI接口使用的端口)},{镜像名称是否带仓库实例名前缀(仅对nexus类型仓库有效)}
        dockerRepo:
        #部署时指定的网关路由hosts/host参数的值(可不配置),目前只支持设置一个域名
        routeHosts:
      #测试集群环境
      #test:
      #  ...
