#本文件为本脚本项目使用的全功能配置文件。
#不同语言项目使用这个统一的全功能配置文件。
#不同语言项目可能存在不同的参数默认值，请在对应的语言子目录下的_ci-cd-config.yaml文件中配置。
globalParams:
  #wydevops会自动从yaml类型的配置文件中读取版本信息覆盖serviceName参数。
  #详细配置见配置文件：./param-mapping/params-mapping-in-yaml-file.config
  serviceName: go-demo
  #wydevops会自动从yaml类型的配置文件中读取版本信息覆盖serviceName参数。
  #详细配置见配置文件：./param-mapping/params-mapping-in-yaml-file.config
  businessVersion: 1.0.0

  #应用设置的路由前缀参数。
  gatewayPath: /gin
  #使用istio时Gateway资源绑定的Host名称。默认值为*，表示任意Host。
  gatewayHost: www.axure.com

  #目标K8S集群的ApiServer服务器的地址信息（必须配置）
  #格式：{服务器IP地址}|{SSH连接账号}|{SSH连接密码}
  targetApiServer: 172.22.118.131|22|wuyi|Wpl118124

deploy:
  - name: ${chartName}
    params:
      - name: .Values.params.mysql.host
        value: mysql:3306
      - name: .Values.params.mysql.password
        value: root123456
      - name: .Values.params.mysql.username
        value: root
