#定义读取来源参数失败后是否报错退出
#true——表示“|”前的Map对象中来源参数读取失败时要报错退出。
#false——表示“|”前的Map对象中来源参数读取失败时不报错退出，仅给出警告信息。
define.exitOnError="false"
#定义本文件中参数来源的文件列表
#竖杠后面设置true，表示后面值部分的文件需要挂载到docker容器中（docker部署方式）或添加到ConfigMap文件中（k8s部署方式）
define.bindingFiles|false="./pom.xml"

#以下定义了需要从define.binding.files文件列表中提取的参数路径信息，
#并指定了这些参数的值需要赋值给ci-cd.yaml文件中的哪些参数

#项目的服务名称，也即jar包的名称。globalParams.serviceName"
project.artifactId="globalParams.serviceName"
#项目的版本，也即业务镜像的版本。
project.version="globalParams.businessVersion"
#项目的中文名称,采用读取方式1进行读取。
#Key中的第一个竖杠后的false表示读取project.properties.cicdName参数失败是否报错退出，优先级高于define.exitOnError
#Key中的第二个竖杠后的1表示读取project.properties.cicdName参数使用的读取方式。0是英文模式，是默认值。1是中文读取方式。
project.properties.cicdName|false|1="globalParams.name|\${serviceName}"
#项目的英文名称
project.properties.cicdNameEn="globalParams.nameEn|\${serviceName}"
#双镜像模式下使用的应用基础镜像的名称，读取失败后采用默认值${serviceName}-base填充。
project.properties.cicdBaseImage="globalParams.baseImage|\${serviceName}-base"
#双镜像模式下使用的应用基础镜像的版本，读取失败后采用默认值${businessVersion}-base填充。
project.properties.cicdBaseVersion="globalParams.baseVersion|\${businessVersion}"
#项目打包使用的JDK版本
project.properties.jdkVersion="globalParams.sdkVersion|jdk17"
#在制作应用基础镜像(在双镜像模式下)时，或在单镜像模式下打包时，Dockerfile文件中FROM参数使用的镜像
#project.properties.cicdBaseFromImage="globalParams.baseFromImage|openjdk:11.0-jre"
project.properties.cicdBaseFromImage="globalParams.baseFromImage|openjdk:11.0-jre"
#指定构建类型(全部小写)：
# single：单镜像模式：构建单一的应用镜像
# double：双镜像模式：构建应用基础镜像和应用业务镜像
# base：仅构建“应用基础镜像”
# business：仅构建“应用业务镜像”
# thirdParty: 打包第三方镜像：拉取第三方镜像，缓存到本地镜像缓存目录中，然后推送到私库中，最后导出到gDockerBuildOutDir目录中。
# customize: 自定义模式，指定docker构建目录后由本脚本自动完成构建。
#读取失败后采用默认值single填充。
project.properties.cicdBuildType="globalParams.buildType|single"
#制作docker镜像时需要指定的架构，读取失败后采用默认值”linux/amd64,linux/arm64“填充。
project.properties.cicdArchTypes="globalParams.archTypes|linux/amd64,linux/arm64"
project.properties.cicdUseTemplate="globalParams.useTemplate|false"
#用于控制构建时需要执行的构建阶段
# shellcheck disable=SC2034
project.properties.cicdValidBuildStages="globalParams.validBuildStages"

